{% extends "layout/base.html" %}
{% load staticfiles %}
{% block title%}Chi tiết{% endblock %}
{% block content %}
<div >
    <h2>Các cuộc họp bạn đã tạo</h2>
<table class="table">
    <thead>
    <tr>
        <th>Tên</th>
        <th>Địa điểm</th>
        <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    {% for mypoll in mypolls %}
    <tr>
        <td><a href="#">{{ mypoll.name }}</a></td>
        <td>{{ mypoll.location }}</td>
        <td>{{ mypoll.note }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}