{% extends "layout/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block title%}Chi tiết{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static "lib/jquery/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "lib/tag-it/css/jquery.tagit.css" %}">
    <link rel="stylesheet" href="{% static "lib/tag-it/css/tagit.ui-zendesk.css" %}">
    <link rel="stylesheet" href="{% static "css/poll/detail.css" %}">
{% endblock %}

{% block content %}
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
           </div>

           <div class="collapse navbar-collapse  navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                 <li><button class="btn btn-add btn-red" id="btn-add-people" onclick="ShowForm()"><i class="fas fa-user-plus"></i> Mời người tham gia</button></li>
                 <li><a href="{% url "poll:edit" poll.id %}" class="btn btn-add"><i class="fas fa-pen"></i> Sửa</a></li>
                  <li><a href="#" class="btn btn-add">Khác <i class="fas fa-caret-down"></i> </a></li>
              </ul>
          </div>
        </nav>
    </div>


    <div class="hidden" id="url"> {{ request.path }}</div>


    <div id="invite" class="hidden">
        <div id="invite-form">
            {% csrf_token %}
            <div class="row mg-15 invite-container text-center">
                <button class="btn btn-remove" onclick="HideForm(event)"><i class="fas fa-times"></i></button>
                <h3>Mời người tham gia</h3>
                <div class="row">
                    <div  class="col-lg-8 col-lg-offset-2 ">
                        <ul id="user-tags"></ul>
                    </div>

                </div>

                <button class="btn btn-submit" onclick="postUserList()"><i class="fas fa-user-plus"></i> Mời</button>
            </div>
        </div>
    </div>


    <div class="text-center">
        <h1>{{poll.name}}</h1>
        <h5>bởi {{ poll.user_create }} . {{ poll.date_create }}</h5>
    </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h4> <i class="fas fa-map-marker-alt mr-15"></i> {{poll.location}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h4> <i class="far fa-sticky-note mr-15"></i> {{poll.note}}</h4>
            </div>
        </div>
<form>
<div class="pd-10">
            <table class="table table-bordered">
            <thead>
              <tr>
                <th>Người tham gia </th>
                  {% for datetime in datetimes %}
                        <th>{{ datetime.date }}
                      {{ datetime.start_time }}
                      {{ datetime.end_time }}</th>
                  {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user }}</td>
                    {% for datetime in datetimes %}
                    <td>
                        {% for vote in votes %}
                            {% if vote.user_id == user.user_id and datetime == vote.time %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
</div>

</form>
 {% endblock %}

{% block js %}
    <script src="{% static "lib/jquery/jquery-ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "lib/tag-it/js/tag-it.js" %}"></script>
    <script src="{% static "js/poll/detail/hide_show_form.js" %}"></script>
    <script src="{% static "js/poll/detail/invite.js" %}"></script>
    <script src="{% static "js/poll/detail/form_invite.js" %}"></script>
{% endblock %}