{% extends "layout/base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block title%}Chi tiết{% endblock %}
{% block content %}
<div >
    <h2>Tất cả cuộc họp</h2>
    <hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-center">Tên</th>
        <th class="text-center">Địa điểm</th>
        <th class="text-center">Số người tham gia</th>
        <th class="text-center">Số người đã vote</th>
    </tr>
    </thead>
    <tbody>
    {% for poll in polls %}
    <tr>
        <td class="text-center"><a href= "{% url "poll:detail" poll.id %}">{{ poll.name }}</a></td>
        <td class="text-center">{{ poll.location }}</td>
        <td class="text-center">{{ number_user_attends | get_item:poll.id }}</td>
        <td class="text-center">{{ number_user_voted | get_item:poll.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}