{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title%}Chi tiết{% endblock %}
{% block content %}
<div >
    <h2>Các cuộc họp bạn đã voted</h2>
<table class="table">
    <thead>
    <tr>
        <th>Tên</th>
        <th>Địa điểm</th>
        <th>Số người tham gia </th>
    </tr>
    </thead>
    <tbody>
    {% for k in listpolls %}
        {
            <tr>
                <td><a href="#">{{ k.pop }}</a></td>
                <td>{{ k.pop }}</td>
                <td>{{ k.pop }}</td>
                <td><a href="{% url "poll:detail" k.poll__id %}">{{ k.poll__name}}</a></td>
                <td>{{ k.poll__location }}</td>
                <td>{{ k.poll__note }}</td>
            </tr>



    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}