{% extends "layout/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="jumbotron bg_purple">
          <div class="container text-center cl_white mg-bottom-15 intro">
            <h1 style="font-size: 40px; font-weight: bolder; font-style: italic;">Make Something Became Simply</h1>
              <p>Với Scrib, việc tạo cuộc họp chưa bao giờ dễ đến thế </p>
          </div>
        </div>
            <div class="img-intro container text-center">
                <img src="{% static "img/Calendar.png" %}" class="shadow">
            </div>


        <div class="container-fluid bg-3 text-center">
          <h3>Some of my Work</h3><br>
          <div class="row">
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </div>
        </div><br>

        <div class="container-fluid bg-3 text-center">
          <div class="row">
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </div>
        </div><br><br>
    {% endif %}
{% endblock %}