{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scrib{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static "css/base/style.css" %}">

        <link rel="stylesheet" href="{% static "css/index.css" %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="page page-template fixed-header contains-posts no-slider icons-style-light parallax-header fixed-header-scroll">
        <div class="wrapper">
            {% include 'layout/header.html' %}
                   <div class="jumbotron bg_purple">
          <div class="container text-center cl_white mg-bottom-15 intro">
            <h1 style="font-size: 40px; font-weight: bolder; font-style: italic;">Make Something Became Simply</h1>
              <p>Với Scrib, việc tạo cuộc họp chưa bao giờ dễ đến thế </p>
          </div>
        </div>
            <div class="img-intro container text-center">
                <img src="{% static "img/Calendar.png" %}" class="shadow">
            </div>


        <div class="container-fluid bg-3 text-center">
          <h3>Some of my Work</h3><br>
          <div class="row">
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </div>
        </div><br>

        <div class="container-fluid bg-3 text-center">
          <div class="row">
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
              <p>Some text..</p>
              <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </div>
        </div><br><br>
            <div class="clear"></div>

            </div>
      <!--  {% include 'layout/footer.html' %} -->
    </div>


    <!--Javascript-->
    <script type='text/javascript' src="{% static 'lib/jquery-3.3.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>