@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
.btn-red{
    background-color: red;
    border-color: #ff232a;
}
.btn-red:hover{
    background-color: #ff5b22 !important;
}
.btn-add{
    margin: 10px !important;
    padding: 10px !important;
    color: white !important;
    font-weight: bold !important;
}

.navbar-default{
    background-color: #45505E !important;
}

.btn-remove{
    position: absolute;
    right: 30px;
    background-color: transparent !important;
}

.invite-container{
    margin: 15px 15px;
    border: 1px solid #98CDFB;
    background-color: #f5fbff;
}

h3{
    margin-bottom: 20px;
}

.btn-submit{
    margin: 20px;
    font-weight: bold;
}


