@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
.btn-red{
    background-color: red;
    border-color: #ff232a;
}
.btn-red:hover{
    background-color: #ff5b22 !important;
}
.btn-add{
    margin: 10px !important;
    padding: 10px !important;
    color: white !important;
    font-weight: bold !important;
}

.navbar-default{
    background-color: #45505E !important;
}

.btn-remove{
    position: absolute;
    right: 30px;
    background-color: transparent !important;
}

.invite-container{
    margin: 15px 15px;
    border: 1px solid #98CDFB;
    background-color: #f5fbff;
}

h3{
    margin-bottom: 20px;
}

.btn-submit{
    margin: 20px;
    font-weight: bold;
}


.tags-input {
    background-color: white;
    border:1px solid #98CDFB;
    padding-bottom: 15px;
    padding-top: 10px;
    display: inline-block;
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag:hover {
    background-color: #3af;
    color: white;
}

.tags-input .tag .closes::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .closes:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}