{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Scrib{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/base/style.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block css %}
    {% endblock %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="page page-template fixed-header contains-posts no-slider icons-style-light parallax-header fixed-header-scroll bg-solid">
        <div class="wrapper">
            {% include 'layout/header.html' %}
            <div class="container mg-top-40" style="margin-top:40px">
                <div class="row">
                {% block sidebar %}
                    <div class="col-sm-4 col-md-3">
                        {% include "layout/sidebar.html" %}
                    </div>
                {% endblock %}
                    <div class="col-sm-8 col-md-9 content">

                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div class="clear"></div>

            </div>
      <!--  {% include 'layout/footer.html' %} -->
    </div>


    <!--Javascript-->
    <script type='text/javascript' src="{% static 'lib/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>