{% load staticfiles %}
<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
      <img height="35px" src="{% static 'img/logo.png'%}">
  </a>

  <!-- Links -->
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tài khoản
      </a>
      <div class="dropdown-menu classic-dropdown">
        <a class="dropdown-item" href="/login/">
            <i class="fa fa-user"></i>
            Đăng nhập
        </a>
        <a class="dropdown-item" href="/signup/">

            <i class="fa fa-user-plus"></i> Đăng ký
        </a>
      </div>
    </li>

  </ul>
</nav>