{% load staticfiles %}

<nav class="navbar navbar-inverse" style="background: #563d7c;">
  <div class="container">
    <div class="navbar-header">
        <div class="logo-container">
            <a href="/"><img src="{% static 'img/logo.png' %}" height="40px" style="padding-top: 5px; padding-bottom: 5px;"></a>
        </div>

    </div>
    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'poll:dashboard' %}"> Trang chủ</a>
            </li>
            <li>
                <a href=""> Giới thiệu</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Tài khoản <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><p style="padding: 5px 0px 0px 20px">{{ request.user }}</p></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'poll:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'poll:add' %}">Thêm cuộc họp</a></li>
                    <li><a href="{% url "poll:mypoll" %}">Tất cả cuộc họp</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "user:logout" %}">Đăng xuất</a></li>
                </ul>
            </li>

        {% else %}
          <li><a href="{% url 'user:signup' %}"><i class="fas fa-user-plus"></i> Đăng ký </a></li>
          <li><a href="{% url 'user:login' %}"><i class="fas fa-sign-in-alt"></i> Đăng nhập </a></li>
        {% endif %}
    </ul>
  </div>
</nav>
