<div class="list-group">
        <span href="#" class="list-group-item active text-center">
            Quản lý cuộc họp
        </span>
        <nav class="shadow">
            <ul class="nav">

            <li class="nav-item"><a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
                <i class="fas fa-list-ul"></i>  Cuộc họp của tôi <i class="fas fa-caret-down"></i></a>
              <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                  <li><a class="sub-item" href="#"><i class="fas fa-clipboard-list-check"></i> Thêm cuộc họp</a></li>
                  <li><a class="sub-item" href="{% url 'poll:created' %}"><i class="fas fa-clipboard-list-check"></i> Danh sách các cuộc họp</a></li>
              </ul>
            </li>
                <li class="nav-item">
                    <a href="#" id="btn-2" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">
                <i class="fas fa-list-ul"></i>    Cuộc họp được mời  <i class="fas fa-caret-down"></i>
                    </a>
              <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                <li><a class="sub-item" href="#"><i class="fas fa-clipboard-list-check"></i> Danh sách đã duyệt</a></li>
                <li><a class="sub-item" href="#"><i class="fas fa-ballot-check"></i> Danh sách chưa duyệt</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>