{% extends 'layout/base.html' %}

{% block 'css' %}
{% endblock %}

{% block 'menu-item' %}
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li class="buy-tickets"><a href="/login">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
{% endblock %}

{% block 'content' %}
        <div class="w3layoutscontaineragileits">
        <!--Login-->
        <h2>Login here</h2>
          <form action="#" method="post">
              {% csrf_token %}
            {{ form.username }}
              {{ form.email }}
            {{ form.password }}
            <div class="aitssendbuttonw3ls">
              <input type="submit" value="LOGIN">
              <p> To register new account <span>→</span> <a class="w3_play_icon1" href="../signin"> Click Here</a></p>
              <div class="clear"></div>
            </div>
          </form>
        </div>
{%  endblock %}
